<?xml version="1.0" encoding="utf-8" ?>
<configuration><!--Sample config file for Casasoft BBS-->
  <configSections>
    <section name="Texts" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Security" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Networking" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Appearance" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Entities" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Markdown" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings><!--by now works only with MariaDb or mySql-->
    <add name="DB" connectionString="server=192.168.1.10;database=bbs;user=bbs;password=password" providerName="10.3.22-mariadb" />
  </connectionStrings>  
  <appSettings>
    <add key="assets" value="c:\projects\BBS\assets"/><!--base path for texts-->
  </appSettings>
  <Security>
    <add key="UnwantedUsers" value="SYS,ADMIN,BOSS,FAKE"/><!--new users starting with these strings are refused-->
    <add key="PasswordMinLength" value="8"/>
    <add key="PasswordWantUpperLower" value="Yes"/><!--If 'Yes' password must contain almost one lowercase and one uppercase letter-->
    <add key="PasswordWantDigit" value="Yes"/><!--If 'Yes' password must contain almost one numeric character-->
    <add key="PasswordWantSpecial" value="No"/><!--If 'Yes' password must contain almost one special character-->
    <add key="PasswordExpires" value="0"/><!--In days, if 0 password never expires-->
    <add key="MaxTries" value="3"/><!--Max password tries before disconnection-->
  </Security>
  <Texts>
    <add key="Banner" value="Banner.txt"/><!--Displayed on client connection-->
    <add key="Logout" value="Logout.txt"/><!--Displayed at client disconnection-->
    <add key="Login" value="Login.txt"/><!--Displayed before login prompt-->
    <add key="Help" value="Help.txt"/><!--Default help for text screens-->
    <add key="GuestAccess" value="GuestAccess.txt"/><!--Displayed at guest access-->
    <add key="NewUser" value="NewUser.txt"/><!--Displayed before new user registration form-->
    <add key="LoggedIn" value="LoggedIn.txt"/><!--Displayed after succesful login-->
    <add key="Disclaimer" value="Disclaimer.txt"/><!--Rules / Disclaimer of the service-->
    <add key="ChangePassword" value="ChangePassword.txt"/><!--Displayed before change password form-->
    <add key="ChangePasswordSu" value="ChangePasswordSu.txt"/><!--Displayed before superuser change password form-->
    <add key="ListUsers" value="ListUsers.txt"/><!--Users list skeleton -->
    <add key="ListLogins" value="ListLogins.txt"/><!--User logins list skeleton -->
    <add key="ListConnected" value="ListConnected.txt"/><!--Connected users list skeleton -->
    <add key="MessageAreaGroups" value="MessageAreaGroups.txt"/><!--Displayed before area groups list form-->
    <add key="MessageAreas" value="MessageAreas.txt"/><!--Displayed before areas list form-->
    <add key="MessagesList" value="MessagesList.txt"/><!--Displayed before messages list form-->
    <add key="MessageScreen" value="MessageScreen.txt"/><!--Template for message reader form-->
    <!--Add here your custom shortcuts-->
  </Texts>
  <Networking>
    <add key="port" value="2323" />
    <add key="InactivityTimeout" value="600" /><!--seconds of inactivity before disconnection-->
  </Networking>
  <Appearance>
    <add key="BackColor" value="White"/><!--Default Backgound color-->
    <add key="ForeColor" value="Blue"/><!--Default Foregound color-->
  </Appearance>
  <Entities>
    <add key="BBSname" value="The Strawberry Field BBS"/>
    <add key="SysopName" value="Roberto Ceccarelli"/>
    <add key="choice" value="Enter choice: "/>
    <add key="scelta" value="Inserisci la scelta: "/>
    <!--Add here your custom entitiess-->
  </Entities>
  <Markdown>
    <!-- header level 1 style -->
    <add key="H1_Color" value="Black"/>
    <add key="H1_Back" value="LightCyan"/>
    <add key="H1_Underline" value="="/>
    <!-- header level 2 style -->
    <add key="H2_Color" value="Black"/>
    <add key="H2_Back" value="LightGray"/>
    <add key="H2_Underline" value="-"/>
    <!-- header level 3 style -->
    <add key="H3_Color" value="Red"/>
    <add key="H3_Back" value="LightGray"/>
    <add key="H3_Underline" value="."/>
    <!-- header level 4 style -->
    <add key="H4_Color" value="Green"/>
    <add key="H4_Back" value=""/>
    <add key="H4_Underline" value=""/>
  </Markdown>
</configuration>