<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="HudsonBase">
      <section name="Dir" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Areas" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="connectionStrings.config" />
  <HudsonBase>
    <Dir>
      <add key="msgdir" value="C:\Users\rober\Downloads\dischetti\POINT\MSGBASE" /><!--messagebase dir-->
    </Dir>
    <Areas>
      <add key="1" value="AM_MARIO" />
      <add key="2" value="AM_CECCA" />
      <add key="6" value="AM_H-COSYS" />
      <add key="10" value="AM_I_LYNX" />
      <add key="12" value="AM_UTENTI" />
      <add key="14" value="AM_TECH_NET.300" />
      <add key="15" value="AM_NEWS_SOFT.300" />
      <add key="17" value="AM_SCACCHI.300" />
      <add key="40" value="AM_NETSYSOP.332" />
      <add key="43" value="AM_ECHOSER.332" />
      <add key="50" value="AM_TEOLOGIA.332" />
      <add key="92" value="AM_TURBO_P.ITA" />
      <add key="94" value="AM_MATE.ITA" />
      <add key="95" value="AM_ELETTRONICA.ITA" />
      <add key="99" value="AM_BBS_SOFT.ITA" />
      <add key="100" value="AM_POINT.ITA" />
      <add key="101" value="AM_TECH_NET.ITA" />
      <add key="102" value="AM_QBBS_STYLE.ITA" />
      <add key="103" value="AM_FOTO.ITA" />
      <add key="121" value="AM_ISN_PROG" />
      <add key="120" value="AM_ISN_COORD" />
      <add key="198" value="AM_WMAIL.334" />
      <add key="200" value="AM_MATRIX" />
    </Areas>
  </HudsonBase>
</configuration>