<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="HudsonBase">
      <section name="Dir" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Areas" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="connectionStrings.config" />
  <HudsonBase>
    <Dir>
      <add key="msgdir" value="C:\Users\rober\Downloads\dischetti\POINT\MSGBASE" /><!--messagebase dir-->
    </Dir>
    <Areas>
      <add key="1" value="MARIO" />
      <add key="2" value="CECCA" />
      <add key="6" value="H-COSYS" />
      <add key="10" value="I_LYNX" />
      <add key="12" value="UTENTI" />
      <add key="14" value="TECH_NET.300" />
      <add key="15" value="NEWS_SOFT.300" />
      <add key="17" value="SCACCHI.300" />
      <add key="40" value="NETSYSOP.332" />
      <add key="43" value="ECHOSER.332" />
      <add key="50" value="TEOLOGIA.332" />
      <add key="92" value="TURBO_P.ITA" />
      <add key="94" value="MATE.ITA" />
      <add key="95" value="ELETTRONICA.ITA" />
      <add key="99" value="BBS_SOFT.ITA" />
      <add key="100" value="POINT.ITA" />
      <add key="101" value="TECH_NET.ITA" />
      <add key="102" value="QBBS_STYLE.ITA" />
      <add key="103" value="FOTO.ITA" />
      <add key="121" value="ISN_PROG" />
      <add key="120" value="ISN_COORD" />
      <add key="198" value="WMAIL.334" />
      <add key="200" value="MATRIX" />
    </Areas>
  </HudsonBase>
</configuration>