<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Texts" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="assets" value="c:\projects\BBS\assets"/>
    <add key="port" value="2323" />
  </appSettings>
  <Texts>
    <add key="Banner" value="Banner.txt"/>
    <add key="Logout" value="Logout.txt"/>
  </Texts>
</configuration>