<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Texts" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Networking" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Appearance" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="server=192.168.1.10;database=bbs;user=bbs;password=password" />
  </connectionStrings>  
  <appSettings>
    <add key="assets" value="c:\projects\BBS\assets"/>
  </appSettings>
  <Texts>
    <add key="Banner" value="Banner.txt"/>
    <add key="Logout" value="Logout.txt"/>
    <add key="Login" value="Login.txt"/>
    <add key="GuestAccess" value="GuestAccess.txt"/>
    <add key="NewUser" value="NewUser.txt"/>
    <add key="LoggedIn" value="LoggedIn.txt"/>
  </Texts>
  <Networking>
    <add key="port" value="2323" />
  </Networking>
  <Appearance>
    <add key="ForeColor" value="White"/>
    <add key="BackColor" value="Blue"/>
  </Appearance>

</configuration>