<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Texts" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Security" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Networking" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Appearance" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="server=192.168.1.10;database=bbs;user=bbs;password=password" />
  </connectionStrings>  
  <appSettings>
    <add key="assets" value="c:\projects\BBS\assets"/>
  </appSettings>
  <Security>
    <add key="UnwantedUsers" value="SYS,ADMIN,BOSS,FAKE"/>
    <add key="PasswordMinLength" value="8"/>
    <add key="PasswordWantUpperLower" value="Yes"/><!--If 'Yes' password must contain almost one lowercase and one uppercase letter-->
    <add key="PasswordWantDigit" value="Yes"/><!--If 'Yes' password must contain almost one numeric character-->
    <add key="PasswordWantSpecial" value="No"/><!--If 'Yes' password must contain almost one special character-->
    <add key="PasswordExpires" value="0"/><!--In days, if 0 password never expires-->
  </Security>
  <Texts>
    <add key="Banner" value="Banner.txt"/>
    <add key="Logout" value="Logout.txt"/>
    <add key="Login" value="Login.txt"/>
    <add key="GuestAccess" value="GuestAccess.txt"/>
    <add key="NewUser" value="NewUser.txt"/>
    <add key="LoggedIn" value="LoggedIn.txt"/>
	  <add key="Disclaimer" value="Disclaimer.txt"/>
    <add key="ChangePassword" value="ChangePassword.txt"/>
  </Texts>
  <Networking>
    <add key="port" value="2323" />
    <add key="InactivityTimeout" value="600" /><!-- seconds -->
  </Networking>
  <Appearance>
    <add key="BackColor" value="White"/>
    <add key="ForeColor" value="Blue"/>
  </Appearance>

</configuration>